@page
@model Case_2___Zealand_Lokale_Booking.Pages.BookingPages.SeeBookingsModel
@{
}




<section class="ResWrapper">

    <h1>Page Header</h1>

    <article class="ResBoxes">

        <article class="ResBox ResBoxDetails">
            <h2 class="">Overskrift</h2>
            <p>
                En mase hvis af tekst. vfeoifoeerip, vjirenvorenvowr3no, nvgrenvgwonforew. nvoernvreonveonveofksd cjeorwfj.
            </p>
            <p>nbvnofenvwpdk nvpew, 854789625896358. 654896548965, bfuewowqpenfcjew vwjovew. </p>
        </article>



    </article>


</section>